fastapi
requests
uvicorn
gunicorn
python-json-logger
langchain
openai
langsmith
python-dotenv
aiohttp==3.9.2
prometheus-client
pytest
firebase-admin
stytch
pytz
segment-analytics-python>=2.2.3
google-cloud-compute
